.logos-foto {
    width: 200px;
    height: auto;
    margin: 20px 0;
}

.logo-small {
    width: 50px;
    height: auto;
    margin: 20px 0;
}

.posts {
    padding: 0 10px;
}

.contact {
    margin-left: 20px;
}
