/*страницы для пользователей*/
.paginator {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.page-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.page-number li{
    margin: 5px;
}
